<div mat-dialog-title>
  <h1>Autor Form</h1>
</div>
<form [formGroup]="autorForm">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          Nombre:
        </mat-label>
        <input matInput type="text" formControlName="nombre">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>
          Descripcion:
        </mat-label>
        <input matInput type="text" formControlName="descripcion">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button [mat-dialog-close]="false" type="button">Cancelar</button>
    <button [disabled]="!autorForm.valid" mat-raised-button color="primary" type="submit">{{getTitle()}}</button>
  </div>
</form>
